
a {
  color: black;
  text-decoration: none;
}

.top-navbar-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-navbar-area>div>a {  
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
}


.mobile-navbar-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mobile-navbar-area>div>a {  
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
}