.container {
  padding-top: 70px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* mobile */
@media only screen and (max-width:720px) {
  .d-sm-block {
    visibility: visible;
  }

  .d-sm-none {
    visibility: hidden;
  }

  .col-sm-2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .col-sm-1 {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
  }

  .m-sm-1 {
    margin: 10px;
  }
}





/* pc */
@media only screen and (min-width:721px) {
  .d-lg-none {
    visibility: hidden;
  }

  .d-lg-block {
    visibility: visible;
  }

  .col-lg-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
  }

  .col-lg-2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .m-lg-5 {
    margin: 50px
  }
}

.col-2 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #3c40c6;
  background-image: url('/assets/img/stars-opacity.0979c1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


a {
  color: black;
  text-decoration: none;
}

.top-navbar-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.top-navbar-area>div>a {
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
}


.mobile-navbar-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(1, 1, 139);
}

.mobile-navbar-area>div>a {
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}


.slideshow-area>div>img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: top;
}



.influencer-area>div>img {
  width: 90px;
  height: 90px;
  border-radius: 1000px;
  border: 4px solid #3C85C6;
  margin: 10px;
  padding: 4px;
}

.d-flex {
  display: flex;
  flex-direction: row;
}


.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.item-start {
  text-align: center;
}




.influencer-area {
  overflow-y: visible;
  overflow-x: scroll;
}

.ads-area>div img {
  width: 200px;
  border-radius: 10px;
}

.ads-area>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}



.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.btn-warning {
  background-color: #F0EDCC;
}

.bg-green {
  background-color: green;
}

footer {
  margin-bottom: 100px;
  margin-top: 20vh;
}

footer p {
  margin: 8px 5px;
}

footer a {
  margin: 2px 5px;
  display: inline-block;
}


.p-5 {
  padding: 10px;
}


.form-control {
  width: 95%;
  margin: 5px 1px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 7px;
  padding: 7px;
  font-size: 0.8rem;
}

.form-control:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn {
  border: 0px;
  border-radius: 5px;
  padding: 5px 15px;
  height: 30px;
}

.btn-blue {
  background-color: blue;
  color: white
}

.product-card img {
  width: 227.5px;
  height: 151.67px;
  object-fit: contain;
}



.product-card-img-area {
  text-align: center;
}

.product-card-img-area p {
  color: rgb(255, 115, 0);
  font-size: 1.2rem;
  font-weight: 600;
}

.product-card-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0px;
}

.product-card-title-demon {
  color: red;
}

.product-card-title-angel {
  color: blue;
}

.product-card-title-nature {
  color: lime;
}

.product-card-title-sungod {
  color: yellow;
}

.card-page {
  width: 90%;
  margin: 100px auto;
}



.mobile-navbar-area i {
  font-size: 1.8rem;
}


.topbar {
  background-color: rgb(2 52 63);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.topbar a {
  color: white;
}


.me-4 {
  margin-right: 15px;
}


.login-form {
  margin: auto;
  width: 90%;
  max-width: 500px;
  margin-top: 100px;
}

.login-form>div {
  border: 2px solid gray;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
  padding: 50px 20px;
}

.adsp {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#ip-text {
  display: inline-block;
  padding: 8px 16px;
  border: 4px solid black;
  font-weight: bold;
  font-size: 20px;
  background-color: #C6C23C;
  border-radius: 20px;
}

#ip-center {
  text-align: center;
}

.contactus-headname {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.form-label {
  font-size: medium;
  font-weight: bold;
}

.rank-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  justify-items: center;
  align-items: start;
  margin-bottom: 80px;
  text-align: center;
}

.rank-card {
  width: 320px;
  text-align: center;
}

.ads-limited-time {
  color: magenta;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.offers-text {
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
}

.store-text {
  color: orangered;
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.first-price {
  color: rgba(255, 0, 0, 0.89);
  text-decoration: line-through;
  font-size: 16px;
  font-weight: bold;
}

.off-price {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.product-card-title-Lightining-key {
  color: aqua;
}

#legendray-text-key-store {
  color: gold;
  font-weight: bold;
}

#prismatic-text-key-store {
  color: magenta;
  font-weight: bold;
}

.product-card-title-starite-key {
  color: yellow;

}

.store-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;   
  margin: 0 auto;     
}
